@charset "UTF-8";
/**
 * simple demo stylesheet for the EasyPoll Snippet v.0.2
 *
 * @author banal, vanchelo <brezhnev.ivan@yahoo.com>
 * @version 0.3.4 <2014-09-23>
 */
.easypoll {
    margin: 40px 0;
}
.pollvotes, .pollresults {
    max-width: 185px;
    margin-left: 12px;
    background-color: #ccc;
    padding: 10px;
}
.pollvotes h3, .pollresults h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: normal;
    color: #000;
}
.pollvotes ul, .pollresults ul {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
    font-size: 0.9em;
}
.pollresults ul {
    font-size: 0.8em;
}
.pollvotes ul li {
    margin-bottom: 5px;
}
.pollvotes ul li input {
    margin: 0;
}
.easypoll fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
.easypoll input.pollbutton {
    border: 1px solid #000;
    color: #fff;
    background-color: #555;
}
.easypoll input:hover {
    background-color: #777;
}
.easypoll_bar {
    height: 8px;
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
}
.easypoll_inner {
    height: 100%;
    background: url('pollbar.png') repeat-x top left #f00;
}
.pollresults p {
    font-size: 10pt;
}
.easypoll_error {
    max-width: 185px;
    margin-left: 12px;
    font-size: 0.9em;
    border: 1px solid #000;
    background-color: #faa;
    padding: 10px;
}
